*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1 rem is.
    font-size: 62.5%;                   // 10px/16px = 62.5%

    @include respond(tab-land) {        // width < 1200?
        font-size: 56.25%;              // 9px/16px = 56.25%
    }

    @include respond(tab-port) {        // width < 900?     We will always put the smaller MQ after the larger MQ in desktop-first approach(i,e max-width)
        font-size: 50%;                 // 8px/16px = 50%
    }

    @include respond(big-desktop) {     // width > 1800 In mobile first approach (i,e min-width is used) , order of MQ doesn't matter
        font-size: 75%;                 // 12px/16px = 75%  also the mixin for big-desktop is co
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {        
        padding: 0;           
    }
}






