body {
    /* We define font definitions within the body tag because it will be inherited by it's child element
    /* We define 'font-family' in body element and not '*' because the properties related to font are usually inherited */
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    /* font-size: 16px; */
    /* Line height is 1.7 times bigger than the predefined line height.*/
    line-height: 1.7;
    color: $color-grey-dark;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation: moveInLeft 1s ease-out;

        @include respond(phone) {       
            font-size: 5rem;
            letter-spacing: 1rem;           
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {       
            letter-spacing: .5rem; 
            font-weight: 400;            
        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s ;

    @include respond(tab-port) {       
        font-size: 3rem;            
    }

    @include respond(phone) {       
        font-size: 2.5rem;            
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black , .2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}